@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}
body {
  margin: 0%;
  border: 0%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: raleway;
}
header h1 {
  font-size: 3em;
}
header img {
  width: 100%;
}
.order {
  display: inline-block;
  width: 30%;
  text-justify: left;
  margin: 20px;
  vertical-align: middle;
}
.order p {
  text-align: left;
}
.order img {
  width: auto;
}
.contenedor {
  background-color: #1e1a13;
  align-items: center;
  padding: 1em;
}
.contenedor h2 {
  font-size: 3em;
}
.contenedor p {
  margin: 2em;
  padding: 1em;
}
.caracteristicas {
  display: inline-block;
  width: 20%;
  font-size: 1.5em;
  font-style: raleway;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.gallery img {
  width: 90%;
  margin: 1em 2em 1em 2em;
  display: inline-block;
}
.gallery img:hover {
  transform: scale(1.5);
}
footer {
  text-align: center;
  background-color: #1e1a13;
  border: 3em;
  padding: 3em;
  margin: 0%;
  display: block;
}
footer a {
  color: #f7f9f9;
  text-decoration: none;
}
footer a:hover {
  color: goldenrod;
}
.hov_decoration:hover{
  color:azure;
}