body{
    background-color: black;
}

.box {
    display: flex;
    align-items: left;
    justify-content: left;
  }
  
  .box div {
    width: 100px;
    height: 100px;
  }



.lateral-color{
    color: white;
    display:flex;    
}

