@charset "UTF-8";

/* Mantiene el navbar en pantalla */
@media (min-width: 576px) {
  .h-sm-100 {
      height: 100%;
  }
}
body{
  background-color: #5086c1;
  color: #dcffff;
}

.cards-color{
  color: black;
}